.layoutWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bodyContainer {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  background-color: transparent;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
